#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px 5px 0;
}


.borda {
	border-top: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
}

.caixa-2 {
	padding: 30px 0;
	border-bottom: 1px solid #e5e5e5;
}

.conf-img {
	border-radius: 15px;
}